<div class="form form--search">
  <form>
    <label class="label" for="search">Search term:</label>
    <input class="input" id="search" type="search" placeholder="e.g. the discriminant" autocomplete="off" />

    <ul class="list list--results" id="list">
        <!-- results go here -->
    </ul>
  </form>
</div>

<script>
  (function () {
    const field = document.querySelector('#search');
    const resultsList = document.querySelector('#list');
    const content = document.querySelector('.content');
    console.log(content);

    // Extract list items only (not introduction, for example)
    const list_items = Array.from(content.querySelectorAll('li a'));
    console.log(list_items);

    field.addEventListener('input', () => {
      // Search term.
      const query = field.value.trim().toLowerCase();
      if (!query) return;

      resultsList.innerHTML = '';
      let count = 0;

      list_items.forEach(link => {
        // Extract the text and the hyperlink from the list items.
        const text = link.textContent;
        const href = link.getAttribute('href');
        console.log(href);

        // Relying on .includes() is good enough.
        if (text.toLowerCase().includes(query)) {
          // Create new list item with the same hyperlink.
          const li = document.createElement('li');
          const a = document.createElement('a');

          a.href = href;
          a.innerHTML = text.replace(
            new RegExp(`(${query})`, 'gi'),
            '$1'
          );

          li.appendChild(a);
          resultsList.appendChild(li);
          count += 1;
        }
      });

      if (count === 0) {
        resultsList.innerHTML = '<li>No matches found.</li>';
      }
    });

    field.addEventListener('keydown', e => {
      // Prevents enter from submitting a search and reloading the page.
      if (e.key === 'Enter') e.preventDefault();
    });
  })();
</script>

<noscript>Please enable JavaScript to use the search form.</noscript>
